ul {
  padding-left: 0;
  display: flex;
  list-style: none;
}

li.nav {
  font-size: 12px;
  font-weight: bolder;
  padding: 0.4em 1em;
  color: rgb(105, 105, 105);
  border-bottom: 5px solid transparent;
}

li.nav:hover {
  color: white;
  border-bottom: 3px solid red;
  cursor: pointer;
}
